stock-svc/src/main/resources/wsdl_test/GetBomInfoFromLESToEHAIER.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<WL5G3N0:definitions name="GetBomInfoFromLESToEHAIER" targetNamespace="http://www.example.org/GetBomInfoFromLESToEHAIER/" xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N1="http://www.example.org/GetBomInfoFromLESToEHAIER/" xmlns:WL5G3N2="http://schemas.xmlsoap.org/wsdl/soap/">
  <WL5G3N0:types>
    <xsd:schema targetNamespace="http://www.example.org/GetBomInfoFromLESToEHAIER/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/GetBomInfoFromLESToEHAIER/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="GetBomInfoFromLESToEHAIER">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="Z_INPUT_PARA" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetBomInfoFromLESToEHAIERResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="FLAG" type="xsd:string"/>
            <xsd:element minOccurs="0" name="MESSAGE" type="xsd:string"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="Z_OUTPUT_PARA" type="tns:ZLES_DCMS_24"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="ZLES_DCMS_24">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="MATNR" type="xsd:string"/>
          <xsd:element minOccurs="0" name="WERKS" type="xsd:string"/>
          <xsd:element minOccurs="0" name="STLNR" type="xsd:string"/>
          <xsd:element minOccurs="0" name="POSNR" type="xsd:string"/>
          <xsd:element minOccurs="0" name="IDNRK" type="xsd:string"/>
          <xsd:element minOccurs="0" name="MENGE" type="xsd:decimal"/>
          <xsd:element minOccurs="0" name="UPDATE_TIME" type="xsd:string"/>
          <xsd:element minOccurs="0" name="STATE" type="xsd:string"/>
          <xsd:element minOccurs="0" name="MAKTX1" type="xsd:string"/>
          <xsd:element minOccurs="0" name="MAKTX2" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </WL5G3N0:types>
  <WL5G3N0:message name="GetBomInfoFromLESToEHAIERRequest">
    <WL5G3N0:part element="WL5G3N1:GetBomInfoFromLESToEHAIER" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="GetBomInfoFromLESToEHAIERResponse">
    <WL5G3N0:part element="WL5G3N1:GetBomInfoFromLESToEHAIERResponse" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:portType name="GetBomInfoFromLESToEHAIER">
    <WL5G3N0:operation name="GetBomInfoFromLESToEHAIER">
      <WL5G3N0:input message="WL5G3N1:GetBomInfoFromLESToEHAIERRequest"/>
      <WL5G3N0:output message="WL5G3N1:GetBomInfoFromLESToEHAIERResponse"/>
    </WL5G3N0:operation>
  </WL5G3N0:portType>
  <WL5G3N0:binding name="GetBomInfoFromLESToEHAIERSOAP" type="WL5G3N1:GetBomInfoFromLESToEHAIER">
    <WL5G3N2:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <WL5G3N0:operation name="GetBomInfoFromLESToEHAIER">
      <WL5G3N2:operation soapAction="http://www.example.org/GetBomInfoFromLESToEHAIER/GetBomInfoFromLESToEHAIER"/>
      <WL5G3N0:input>
        <WL5G3N2:body use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N2:body use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
  </WL5G3N0:binding>
  <WL5G3N0:service name="GetBomInfoFromLESToEHAIER">
    <WL5G3N0:port binding="WL5G3N1:GetBomInfoFromLESToEHAIERSOAP" name="GetBomInfoFromLESToEHAIERSOAP">
      <!-- <WL5G3N2:address location="${pom.eai.url}/EAI/RoutingProxyService/EAI_SOAP_ServiceRoot?INT_CODE=EAI_INT_0300"/> -->
      <WL5G3N2:address location="http://10.138.40.168:8001/EAI/service/LES/GetBomInfoFromLESToEHAIER/GetBomInfoFromLESToEHAIER"/>
    </WL5G3N0:port>
  </WL5G3N0:service>
</WL5G3N0:definitions>