stock-svc/src/main/resources/wsdl_test/GetKUCUNInfoFromLESToEHAIER.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<WL5G3N0:definitions name="GetKUCUNInfoFromLESToEHAIER"
                     targetNamespace="http://www.example.org/GetKUCUNInfoFromLESToEHAIER/"
                     xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/"
                     xmlns:WL5G3N1="http://www.example.org/GetKUCUNInfoFromLESToEHAIER/"
                     xmlns:WL5G3N2="http://schemas.xmlsoap.org/wsdl/soap/">
    <WL5G3N0:types>
        <xsd:schema targetNamespace="http://www.example.org/GetKUCUNInfoFromLESToEHAIER/"
                    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                    xmlns:tns="http://www.example.org/GetKUCUNInfoFromLESToEHAIER/"
                    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:element name="GetKUCUNInfoFromLESToEHAIER">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="CRK" type="xsd:string"/>
                        <xsd:element name="DATE_BEGIN" type="xsd:string"/>
                        <xsd:element name="DATE_END" type="xsd:string"/>
                        <xsd:element name="KUWEI" type="xsd:string"/>
                        <xsd:element name="TIME_BEGIN" type="xsd:string"/>
                        <xsd:element name="TIME_END" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="GetKUCUNInfoFromLESToEHAIERResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="FLAG" type="xsd:string"/>
                        <xsd:element name="MESSAGE" type="xsd:string"/>
                        <xsd:element maxOccurs="unbounded" minOccurs="0" name="OUTPUT">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="MBLNR" type="xsd:string">
                                    </xsd:element>
                                    <xsd:element name="MJAHR" type="xsd:string">
                                    </xsd:element>
                                    <xsd:element name="ZEILE" type="xsd:string">
                                    </xsd:element>
                                    <xsd:element name="CPUDT" type="xsd:string">
                                    </xsd:element>
                                    <xsd:element name="CPUTM" type="xsd:string">
                                    </xsd:element>
                                    <xsd:element name="BWART" type="xsd:string">
                                    </xsd:element>
                                    <xsd:element name="SHKZG" type="xsd:string">
                                    </xsd:element>
                                    <xsd:element name="MATNR" type="xsd:string">
                                    </xsd:element>
                                    <xsd:element name="MATKL" type="xsd:string">
                                    </xsd:element>
                                    <xsd:element name="CHARG" type="xsd:string">
                                    </xsd:element>
                                    <xsd:element name="LFIMG" type="xsd:decimal">
                                    </xsd:element>
                                    <xsd:element name="LGORT" type="xsd:string">
                                    </xsd:element>
                                    <xsd:element name="KUNNR_SALETO" type="xsd:string">
                                    </xsd:element>
                                    <xsd:element name="KUNNR_SENDTO" type="xsd:string">
                                    </xsd:element>
                                    <xsd:element name="VBELN_SO" type="xsd:string">
                                    </xsd:element>
                                    <xsd:element name="VBELN_DN" type="xsd:string">
                                    </xsd:element>
                                    <xsd:element name="TKNUM" type="xsd:string">
                                    </xsd:element>
                                    <xsd:element name="BSTNK" type="xsd:string">
                                    </xsd:element>
                                    <xsd:element name="AUART" type="xsd:string">
                                    </xsd:element>
                                    <xsd:element name="RESERVE1" type="xsd:string">
                                    </xsd:element>
                                    <xsd:element name="RESERVE2" type="xsd:string">
                                    </xsd:element>
                                    <xsd:element name="BSTKD" type="xsd:string">
                                    </xsd:element>
                                    <xsd:element name="KBETR" type="xsd:decimal">
                                    </xsd:element>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element maxOccurs="unbounded" minOccurs="0" name="OUTPUT1">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="KUNNR" type="xsd:string">
                                    </xsd:element>
                                    <xsd:element name="LGORT" type="xsd:string">
                                    </xsd:element>
                                    <xsd:element name="MATNR" type="xsd:string">
                                    </xsd:element>
                                    <xsd:element name="CHARG" type="xsd:string">
                                    </xsd:element>
                                    <xsd:element name="LFIMG" type="xsd:decimal">
                                    </xsd:element>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </WL5G3N0:types>
    <WL5G3N0:message name="GetKUCUNInfoFromLESToEHAIERRequest">
        <WL5G3N0:part element="WL5G3N1:GetKUCUNInfoFromLESToEHAIER"
                      name="parameters"/>
    </WL5G3N0:message>
    <WL5G3N0:message name="GetKUCUNInfoFromLESToEHAIERResponse">
        <WL5G3N0:part element="WL5G3N1:GetKUCUNInfoFromLESToEHAIERResponse"
                      name="parameters"/>
    </WL5G3N0:message>
    <WL5G3N0:portType name="GetKUCUNInfoFromLESToEHAIER">
        <WL5G3N0:operation name="GetKUCUNInfoFromLESToEHAIER">
            <WL5G3N0:input message="WL5G3N1:GetKUCUNInfoFromLESToEHAIERRequest"/>
            <WL5G3N0:output message="WL5G3N1:GetKUCUNInfoFromLESToEHAIERResponse"/>
        </WL5G3N0:operation>
    </WL5G3N0:portType>
    <WL5G3N0:binding name="GetKUCUNInfoFromLESToEHAIERSOAP"
                     type="WL5G3N1:GetKUCUNInfoFromLESToEHAIER">
        <WL5G3N2:binding style="document"
                         transport="http://schemas.xmlsoap.org/soap/http"/>
        <WL5G3N0:operation name="GetKUCUNInfoFromLESToEHAIER">
            <WL5G3N2:operation
                    soapAction="http://www.example.org/GetKUCUNInfoFromLESToEHAIER/GetKUCUNInfoFromLESToEHAIER"/>
            <WL5G3N0:input>
                <WL5G3N2:body use="literal"/>
            </WL5G3N0:input>
            <WL5G3N0:output>
                <WL5G3N2:body use="literal"/>
            </WL5G3N0:output>
        </WL5G3N0:operation>
    </WL5G3N0:binding>
    <WL5G3N0:service name="GetKUCUNInfoFromLESToEHAIER">
        <WL5G3N0:port binding="WL5G3N1:GetKUCUNInfoFromLESToEHAIERSOAP" name="GetKUCUNInfoFromLESToEHAIERSOAP">
            <WL5G3N2:address
                    location="http://10.135.1.110:7001/EAI/RoutingProxyService/EAI_SOAP_ServiceRoot?INT_CODE=EAI_INT_0271"/>
          <!--   <WL5G3N2:address 
            	location="http://58.56.128.84:9001/EAI/service/LES/GetKUCUNInfoFromLESToEHAIER/GetKUCUNInfoFromLESToEHAIER" /> -->
            <!--<WL5G3N2:address-->
                    <!--location="http://10.9.30.205:8007/EAI/RoutingProxyService/EAI_SOAP_ServiceRoot"/>-->
        </WL5G3N0:port>
    </WL5G3N0:service>
</WL5G3N0:definitions>