stock-svc/src/main/resources/wsdl_test/GetTidanZWDFromLESToEHAIER.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<WL5G3N0:definitions name="GetTidanZWDFromLESToEHAIER"
                     targetNamespace="http://www.example.org/GetTidanZWDFromLESToEHAIER/"
                     xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/"
                     xmlns:WL5G3N1="http://www.example.org/GetTidanZWDFromLESToEHAIER/"
                     xmlns:WL5G3N2="http://schemas.xmlsoap.org/wsdl/soap/">
    <WL5G3N0:types>
        <xsd:schema targetNamespace="http://www.example.org/GetTidanZWDFromLESToEHAIER/"
                    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                    xmlns:tns="http://www.example.org/GetTidanZWDFromLESToEHAIER/"
                    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:element name="GetTidanZWDFromLESToEHAIER">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="ERDAT" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="GetTidanZWDFromLESToEHAIERResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="FLAG" type="xsd:string"/>
                        <xsd:element name="MESSAGE" type="xsd:string"/>
                        <xsd:element maxOccurs="unbounded" minOccurs="0" name="OUTPUT" type="tns:ZWD_TABLE_2"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:complexType name="ZWD_TABLE_2">
                <xsd:sequence>
                    <xsd:element name="BSTKD" type="xsd:string"/>
                    <xsd:element name="GVS_SO" type="xsd:string"/>
                    <xsd:element name="KUNNR" type="xsd:string"/>
                    <xsd:element name="KUNWE" type="xsd:string"/>
                    <xsd:element name="ADD4" type="xsd:string"/>
                    <xsd:element name="ERDAT" type="xsd:string"/>
                    <xsd:element name="ERZET" type="xsd:string"/>
                    <xsd:element name="AD1" type="xsd:string"/>
                    <xsd:element name="AD2" type="xsd:string"/>
                    <xsd:element name="AD3" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </WL5G3N0:types>
    <WL5G3N0:message name="GetTidanZWDFromLESToEHAIERRequest">
        <WL5G3N0:part element="WL5G3N1:GetTidanZWDFromLESToEHAIER" name="parameters"/>
    </WL5G3N0:message>
    <WL5G3N0:message name="GetTidanZWDFromLESToEHAIERResponse">
        <WL5G3N0:part element="WL5G3N1:GetTidanZWDFromLESToEHAIERResponse" name="parameters"/>
    </WL5G3N0:message>
    <WL5G3N0:portType name="GetTidanZWDFromLESToEHAIER">
        <WL5G3N0:operation name="GetTidanZWDFromLESToEHAIER">
            <WL5G3N0:input message="WL5G3N1:GetTidanZWDFromLESToEHAIERRequest"/>
            <WL5G3N0:output message="WL5G3N1:GetTidanZWDFromLESToEHAIERResponse"/>
        </WL5G3N0:operation>
    </WL5G3N0:portType>
    <WL5G3N0:binding name="GetTidanZWDFromLESToEHAIERSOAP" type="WL5G3N1:GetTidanZWDFromLESToEHAIER">
        <WL5G3N2:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <WL5G3N0:operation name="GetTidanZWDFromLESToEHAIER">
            <WL5G3N2:operation
                    soapAction="http://www.example.org/GetTidanZWDFromLESToEHAIER/GetTidanZWDFromLESToEHAIER"/>
            <WL5G3N0:input>
                <WL5G3N2:body use="literal"/>
            </WL5G3N0:input>
            <WL5G3N0:output>
                <WL5G3N2:body use="literal"/>
            </WL5G3N0:output>
        </WL5G3N0:operation>
    </WL5G3N0:binding>
    <WL5G3N0:service name="GetTidanZWDFromLESToEHAIER">
        <WL5G3N0:port binding="WL5G3N1:GetTidanZWDFromLESToEHAIERSOAP" name="GetTidanZWDFromLESToEHAIERSOAP">
            <!--<WL5G3N2:address
                    location="${pom.eai.url}/EAI/RoutingProxyService/EAI_SOAP_ServiceRoot?INT_CODE=EAI_INT_1399"/>-->
            <WL5G3N2:address location="http://10.138.40.168:8001/EAI/service/LES/GetTidanZWDFromLESToEHAIER/GetTidanZWDFromLESToEHAIER"/>
        </WL5G3N0:port>
    </WL5G3N0:service>
</WL5G3N0:definitions>