stock-svc/src/main/resources/wsdl_test/QueryProOrderAndSaleOrderFromEDW.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<WL5G3N0:definitions name="QueryProOrderAndSaleOrderFromEDW"
                     targetNamespace="http://www.example.org/QueryProOrderAndSaleOrderFromEDW/"
                     xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/"
                     xmlns:WL5G3N1="http://www.example.org/QueryProOrderAndSaleOrderFromEDW/"
                     xmlns:WL5G3N2="http://schemas.xmlsoap.org/wsdl/soap/">
    <WL5G3N0:types>
        <xsd:schema targetNamespace="http://www.example.org/QueryProOrderAndSaleOrderFromEDW/"
                    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                    xmlns:tns="http://www.example.org/QueryProOrderAndSaleOrderFromEDW/"
                    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:element name="QueryProOrderAndSaleOrderFromEDW">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="ORDERDETAILNO" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="QueryProOrderAndSaleOrderFromEDWResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="out" type="tns:outType"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:complexType name="outType">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="Output"
                                 type="tns:Select_ITF_MAKE_PLAN_XIAXIAN_VOutput">
                    </xsd:element>
                    <xsd:element name="MESSAGE" type="xsd:string"/>
                    <xsd:element name="FLAG" type="xsd:string"/>
                    <xsd:element name="FAULT" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Select_ITF_MAKE_PLAN_XIAXIAN_VOutput">
                <xsd:sequence>
                    <xsd:element name="GVS_ORDER_CODE" type="xsd:string"/>
                    <xsd:element name="ORDERDETAILNO" type="xsd:string"/>
                    <xsd:element name="PLAN_DATE" type="xsd:dateTime"/>
                    <xsd:element name="COMPLETE_DATE" type="xsd:dateTime"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </WL5G3N0:types>
    <WL5G3N0:message name="QueryProOrderAndSaleOrderFromEDWRequest">
        <WL5G3N0:part element="WL5G3N1:QueryProOrderAndSaleOrderFromEDW" name="parameters"/>
    </WL5G3N0:message>
    <WL5G3N0:message name="QueryProOrderAndSaleOrderFromEDWResponse">
        <WL5G3N0:part element="WL5G3N1:QueryProOrderAndSaleOrderFromEDWResponse" name="parameters"/>
    </WL5G3N0:message>
    <WL5G3N0:portType name="QueryProOrderAndSaleOrderFromEDW">
        <WL5G3N0:operation name="QueryProOrderAndSaleOrderFromEDW">
            <WL5G3N0:input message="WL5G3N1:QueryProOrderAndSaleOrderFromEDWRequest"/>
            <WL5G3N0:output message="WL5G3N1:QueryProOrderAndSaleOrderFromEDWResponse"/>
        </WL5G3N0:operation>
    </WL5G3N0:portType>
    <WL5G3N0:binding name="QueryProOrderAndSaleOrderFromEDWSOAP" type="WL5G3N1:QueryProOrderAndSaleOrderFromEDW">
        <WL5G3N2:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <WL5G3N0:operation name="QueryProOrderAndSaleOrderFromEDW">
            <WL5G3N2:operation
                    soapAction="http://www.example.org/QueryProOrderAndSaleOrderFromEDW/QueryProOrderAndSaleOrderFromEDW"/>
            <WL5G3N0:input>
                <WL5G3N2:body use="literal"/>
            </WL5G3N0:input>
            <WL5G3N0:output>
                <WL5G3N2:body use="literal"/>
            </WL5G3N0:output>
        </WL5G3N0:operation>
    </WL5G3N0:binding>
    <WL5G3N0:service name="QueryProOrderAndSaleOrderFromEDW">
        <WL5G3N0:port binding="WL5G3N1:QueryProOrderAndSaleOrderFromEDWSOAP"
                      name="QueryProOrderAndSaleOrderFromEDWSOAP">
            <WL5G3N2:address
                    location="http://10.138.40.168:8001/EAI/service/EDW/QueryProOrderAndSaleOrderFromEDW/QueryProOrderAndSaleOrderFromEDW"/>
        </WL5G3N0:port>
    </WL5G3N0:service>
</WL5G3N0:definitions>