stock-svc/src/main/resources/wsdl_test/TransReBackInfoFromEHAIERToGVS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<WL5G3N0:definitions name="TransReBackInfoFromEHAIERToGVS"
	targetNamespace="http://www.example.org/TransReBackInfoFromEHAIERToGVS/"
	xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N1="http://www.example.org/TransReBackInfoFromEHAIERToGVS/"
	xmlns:WL5G3N2="http://schemas.xmlsoap.org/wsdl/soap/">
	<WL5G3N0:types>
		<xsd:schema targetNamespace="http://www.example.org/TransReBackInfoFromEHAIERToGVS/"
			xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/TransReBackInfoFromEHAIERToGVS/"
			xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:element name="TransReBackInfoFromEHAIERToGVS">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="unbounded" minOccurs="0"
							name="T_ZMMS0008" type="tns:ZMMS0008" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="TransReBackInfoFromEHAIERToGVSResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="EX_SUBRC" type="xsd:int" />
						<xsd:element maxOccurs="unbounded" minOccurs="0" name="T_MSG"
							type="tns:ZSDS0002">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:complexType name="ZMMS0008">
				<xsd:sequence>
					<xsd:element name="ZOUNBZOUNB" type="xsd:string" />
					<xsd:element name="VBELN" type="xsd:string" />
					<xsd:element name="POSNR" type="xsd:string" />
					<xsd:element name="ZSPDT" type="xsd:string" />
					<xsd:element name="LIFNR" type="xsd:string" />
					<xsd:element name="MATNR" type="xsd:string" />
					<xsd:element name="MENGE" type="xsd:decimal" />
					<xsd:element name="LGORT" type="xsd:string" />
					<xsd:element name="ZFGLG" type="xsd:string" />
					<xsd:element name="ZLSGI" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ZSDS0002">
				<xsd:sequence>
					<xsd:element name="TYPE" type="xsd:string" />
					<xsd:element name="ID" type="xsd:string" />
					<xsd:element name="NUMBER" type="xsd:string" />
					<xsd:element name="MESSAGE" type="xsd:string" />
					<xsd:element name="MESSAGE_V1" type="xsd:string" />
					<xsd:element name="MESSAGE_V2" type="xsd:string" />
					<xsd:element name="MESSAGE_V3" type="xsd:string" />
					<xsd:element name="MESSAGE_V4" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</WL5G3N0:types>
	<WL5G3N0:message name="TransReBackInfoFromEHAIERToGVSRequest">
		<WL5G3N0:part element="WL5G3N1:TransReBackInfoFromEHAIERToGVS"
			name="parameters" />
	</WL5G3N0:message>
	<WL5G3N0:message name="TransReBackInfoFromEHAIERToGVSResponse">
		<WL5G3N0:part element="WL5G3N1:TransReBackInfoFromEHAIERToGVSResponse"
			name="parameters" />
	</WL5G3N0:message>
	<WL5G3N0:portType name="TransReBackInfoFromEHAIERToGVS">
		<WL5G3N0:operation name="TransReBackInfoFromEHAIERToGVS">
			<WL5G3N0:input message="WL5G3N1:TransReBackInfoFromEHAIERToGVSRequest" />
			<WL5G3N0:output message="WL5G3N1:TransReBackInfoFromEHAIERToGVSResponse" />
		</WL5G3N0:operation>
	</WL5G3N0:portType>
	<WL5G3N0:binding name="TransReBackInfoFromEHAIERToGVSSOAP"
		type="WL5G3N1:TransReBackInfoFromEHAIERToGVS">
		<WL5G3N2:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<WL5G3N0:operation name="TransReBackInfoFromEHAIERToGVS">
			<WL5G3N2:operation
				soapAction="http://www.example.org/TransReBackInfoFromEHAIERToGVS/TransReBackInfoFromEHAIERToGVS" />
			<WL5G3N0:input>
				<WL5G3N2:body use="literal" />
			</WL5G3N0:input>
			<WL5G3N0:output>
				<WL5G3N2:body use="literal" />
			</WL5G3N0:output>
		</WL5G3N0:operation>
	</WL5G3N0:binding>
	<WL5G3N0:service name="TransReBackInfoFromEHAIERToGVS">
		<WL5G3N0:port binding="WL5G3N1:TransReBackInfoFromEHAIERToGVSSOAP"
			name="TransReBackInfoFromEHAIERToGVSSOAP">
			<!-- <WL5G3N2:address location="${pom.eai.url}/EAI/RoutingProxyService/EAI_SOAP_ServiceRoot?INT_CODE=EAI_INT_0523" />  -->
				<!-- 测试地址 -->
				<WL5G3N2:address location="http://58.56.128.84:9001/EAI/service/GVS/TransReBackInfoFromEHAIERToGVS/TransReBackInfoFromEHAIERToGVS"/>
			    <!-- <WL5G3N2:address location="${pom.eai.url}/EAI/service/GVS/TransReBackInfoFromEHAIERToGVS/TransReBackInfoFromEHAIERToGVS" 
				/> -->
		</WL5G3N0:port>
	</WL5G3N0:service>
</WL5G3N0:definitions>