stock-svc/src/main/resources/wsdl_test/TransDNInfoFromEHAIERToGVS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<WL5G3N0:definitions name="TransDNInfoFromEHAIERToGVS"
	targetNamespace="http://www.example.org/TransDNInfoFromEHAIERToGVS/"
	xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N1="http://www.example.org/TransDNInfoFromEHAIERToGVS/"
	xmlns:WL5G3N2="http://schemas.xmlsoap.org/wsdl/soap/">
	<WL5G3N0:types>
		<xsd:schema targetNamespace="http://www.example.org/TransDNInfoFromEHAIERToGVS/"
			xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/TransDNInfoFromEHAIERToGVS/"
			xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:element name="TransDNInfoFromEHAIERToGVS">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="unbounded" minOccurs="0"
							name="T_ZMMS0003" type="tns:ZMMS0003" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="TransDNInfoFromEHAIERToGVSResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="EX_SUBRC" type="xsd:int" />
						<xsd:element maxOccurs="unbounded" minOccurs="0" name="T_MSG"
							type="tns:ZSDS0002" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:complexType name="ZMMS0003">
				<xsd:sequence>
					<xsd:element name="ZSPNB" type="xsd:string" />
					<xsd:element name="VBELN" type="xsd:string" />
					<xsd:element name="POSNR" type="xsd:string" />
					<xsd:element name="ZSPDT" type="xsd:string" />
					<xsd:element name="LIFNR" type="xsd:string" />
					<xsd:element name="MATNR" type="xsd:string" />
					<xsd:element name="MENGE" type="xsd:decimal" />
					<xsd:element name="LGORT" type="xsd:string" />
					<xsd:element name="ZFGLG" type="xsd:string" />
					<xsd:element name="ZLSGI" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ZSDS0002">
				<xsd:sequence>
					<xsd:element name="TYPE" type="xsd:string" />
					<xsd:element name="ID" type="xsd:string" />
					<xsd:element name="NUMBER" type="xsd:string" />
					<xsd:element name="MESSAGE" type="xsd:string" />
					<xsd:element name="MESSAGE_V1" type="xsd:string" />
					<xsd:element name="MESSAGE_V2" type="xsd:string" />
					<xsd:element name="MESSAGE_V3" type="xsd:string" />
					<xsd:element name="MESSAGE_V4" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</WL5G3N0:types>
	<WL5G3N0:message name="TransDNInfoFromEHAIERToGVSRequest">
		<WL5G3N0:part element="WL5G3N1:TransDNInfoFromEHAIERToGVS"
			name="parameters" />
	</WL5G3N0:message>
	<WL5G3N0:message name="TransDNInfoFromEHAIERToGVSResponse">
		<WL5G3N0:part element="WL5G3N1:TransDNInfoFromEHAIERToGVSResponse"
			name="parameters" />
	</WL5G3N0:message>
	<WL5G3N0:portType name="TransDNInfoFromEHAIERToGVS">
		<WL5G3N0:operation name="TransDNInfoFromEHAIERToGVS">
			<WL5G3N0:input message="WL5G3N1:TransDNInfoFromEHAIERToGVSRequest" />
			<WL5G3N0:output message="WL5G3N1:TransDNInfoFromEHAIERToGVSResponse" />
		</WL5G3N0:operation>
	</WL5G3N0:portType>
	<WL5G3N0:binding name="TransDNInfoFromEHAIERToGVSSOAP"
		type="WL5G3N1:TransDNInfoFromEHAIERToGVS">
		<WL5G3N2:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<WL5G3N0:operation name="TransDNInfoFromEHAIERToGVS">
			<WL5G3N2:operation
				soapAction="http://www.example.org/TransDNInfoFromEHAIERToGVS/TransDNInfoFromEHAIERToGVS" />
			<WL5G3N0:input>
				<WL5G3N2:body use="literal" />
			</WL5G3N0:input>
			<WL5G3N0:output>
				<WL5G3N2:body use="literal" />
			</WL5G3N0:output>
		</WL5G3N0:operation>
	</WL5G3N0:binding>
	<WL5G3N0:service name="TransDNInfoFromEHAIERToGVS">
		<WL5G3N0:port binding="WL5G3N1:TransDNInfoFromEHAIERToGVSSOAP"
			name="TransDNInfoFromEHAIERToGVSSOAP">
			<!-- <WL5G3N2:address location="${pom.eai.url}/EAI/service/GVS/TransDNInfoFromEHAIERToGVS/TransDNInfoFromEHAIERToGVS"/> -->
			<!-- <WL5G3N2:address
				location="${pom.eai.url}/EAI/RoutingProxyService/EAI_SOAP_ServiceRoot?INT_CODE=EAI_INT_0538" /> -->
		   <WL5G3N2:address location="http://58.56.128.84:9001/EAI/service/GVS/TransDNInfoFromEHAIERToGVS/TransDNInfoFromEHAIERToGVS"/>
		</WL5G3N0:port>
	</WL5G3N0:service>
</WL5G3N0:definitions>