svc-svc/src/main/resources/wsdl/CancelOrderFromEHaierToOMS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<WL5G3N0:definitions name="CancelOrderFromEHaierToOMS" targetNamespace="http://www.example.org/CancelOrderFromEHaierToOMS/" xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N1="http://www.example.org/CancelOrderFromEHaierToOMS/" xmlns:WL5G3N2="http://schemas.xmlsoap.org/wsdl/soap/">
  <WL5G3N0:types>
    <xsd:schema targetNamespace="http://www.example.org/CancelOrderFromEHaierToOMS/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/CancelOrderFromEHaierToOMS/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="CancelOrderFromEHaierToOMS">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="RequestData" type="tns:RequestData"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CancelOrderFromEHaierToOMSResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="requestDataReturn" type="tns:ResponseData"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="RequestData">
        <xsd:sequence>
          <xsd:element name="SysName" type="xsd:string"/>
          <xsd:element name="field1" type="xsd:string"/>
          <xsd:element name="field2" type="xsd:string"/>
          <xsd:element name="field3" type="xsd:string"/>
          <xsd:element name="field4" type="xsd:string"/>
          <xsd:element name="field5" type="xsd:string"/>
          <xsd:element name="revokeResult" type="xsd:string"/>
          <xsd:element name="titleSoCodeId" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ResponseData">
        <xsd:sequence>
          <xsd:element name="field1" type="xsd:string"/>
          <xsd:element name="field2" type="xsd:string"/>
          <xsd:element name="field3" type="xsd:string"/>
          <xsd:element name="field4" type="xsd:string"/>
          <xsd:element name="field5" type="xsd:string"/>
          <xsd:element name="message" type="xsd:string"/>
          <xsd:element name="status" type="xsd:string"/>
          <xsd:element name="titleSoCodeId" type="xsd:string"/>
          <xsd:element name="flag" type="xsd:string"/>
          <xsd:element name="fault" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </WL5G3N0:types>
  <WL5G3N0:message name="CancelOrderFromEHaierToOMSRequest">
    <WL5G3N0:part element="WL5G3N1:CancelOrderFromEHaierToOMS" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="CancelOrderFromEHaierToOMSResponse">
    <WL5G3N0:part element="WL5G3N1:CancelOrderFromEHaierToOMSResponse" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:portType name="CancelOrderFromEHaierToOMS">
    <WL5G3N0:operation name="CancelOrderFromEHaierToOMS">
      <WL5G3N0:input message="WL5G3N1:CancelOrderFromEHaierToOMSRequest"/>
      <WL5G3N0:output message="WL5G3N1:CancelOrderFromEHaierToOMSResponse"/>
    </WL5G3N0:operation>
  </WL5G3N0:portType>
  <WL5G3N0:binding name="CancelOrderFromEHaierToOMSSOAP" type="WL5G3N1:CancelOrderFromEHaierToOMS">
    <WL5G3N2:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <WL5G3N0:operation name="CancelOrderFromEHaierToOMS">
      <WL5G3N2:operation soapAction="http://www.example.org/CancelOrderFromEHaierToOMS/CancelOrderFromEHaierToOMS"/>
      <WL5G3N0:input>
        <WL5G3N2:body use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N2:body use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
  </WL5G3N0:binding>
  <WL5G3N0:service name="CancelOrderFromEHaierToOMS">
    <WL5G3N0:port binding="WL5G3N1:CancelOrderFromEHaierToOMSSOAP" name="CancelOrderFromEHaierToOMSSOAP">
      <WL5G3N2:address location="http://10.135.1.198:7001/EAI/RoutingProxyService/EAI_SOAP_ServiceRoot?INT_CODE=temp_service_0158"/>
    </WL5G3N0:port>
  </WL5G3N0:service>
</WL5G3N0:definitions>