svc-svc/src/main/resources/wsdl/QueryDNinfoFromLEStoEhaier.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<WL5G3N0:definitions name="QueryDNinfoFromLEStoEhaier" targetNamespace="http://www.example.org/QueryDNinfoFromLEStoEhaier/" xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N1="http://www.example.org/QueryDNinfoFromLEStoEhaier/" xmlns:WL5G3N2="http://schemas.xmlsoap.org/wsdl/soap/">
  <WL5G3N0:types>
    <xsd:schema targetNamespace="http://www.example.org/QueryDNinfoFromLEStoEhaier/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/QueryDNinfoFromLEStoEhaier/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="QueryDNinfoFromLEStoEhaier">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="SysName" type="xsd:string"/>
            <xsd:element name="ZFLAG" type="xsd:string"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="INPUT" type="tns:ZBSTKD">
          	</xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="QueryDNinfoFromLEStoEhaierResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="FLAG" type="xsd:string"/>
            <xsd:element name="MESSAGE" type="xsd:string"/>
            <xsd:element name="FAULT_DETAIL" type="xsd:string"/>
            <xsd:element name="ZFLAG1" type="xsd:string"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="OUTPUT" type="tns:ZBSTKD_WD"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="ZBSTKD">
        <xsd:sequence>
          <xsd:element name="BSTKD" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZBSTKD_WD">
        <xsd:sequence>
          <xsd:element name="BSTKD" type="xsd:string"/>
          <xsd:element name="FLAG_RK" type="xsd:string"/>
          <xsd:element name="ERDAT_RK" type="xsd:string"/>
          <xsd:element name="ERZET_RK" type="xsd:string"/>
          <xsd:element name="FLAG_CK" type="xsd:string"/>
          <xsd:element name="ERDAT_CK" type="xsd:string"/>
          <xsd:element name="ERZET_CK" type="xsd:string"/>
          <xsd:element name="AD1" type="xsd:string"/>
          <xsd:element name="AD2" type="xsd:string"/>
          <xsd:element name="AD3" type="xsd:string"/>
          <xsd:element name="AD4" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </WL5G3N0:types>
  <WL5G3N0:message name="QueryDNinfoFromLEStoEhaierRequest">
    <WL5G3N0:part element="WL5G3N1:QueryDNinfoFromLEStoEhaier" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="QueryDNinfoFromLEStoEhaierResponse">
    <WL5G3N0:part element="WL5G3N1:QueryDNinfoFromLEStoEhaierResponse" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:portType name="QueryDNinfoFromLEStoEhaier">
    <WL5G3N0:operation name="QueryDNinfoFromLEStoEhaier">
      <WL5G3N0:input message="WL5G3N1:QueryDNinfoFromLEStoEhaierRequest"/>
      <WL5G3N0:output message="WL5G3N1:QueryDNinfoFromLEStoEhaierResponse"/>
    </WL5G3N0:operation>
  </WL5G3N0:portType>
  <WL5G3N0:binding name="QueryDNinfoFromLEStoEhaierSOAP" type="WL5G3N1:QueryDNinfoFromLEStoEhaier">
    <WL5G3N2:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <WL5G3N0:operation name="QueryDNinfoFromLEStoEhaier">
      <WL5G3N2:operation soapAction="http://www.example.org/QueryDNinfoFromLEStoEhaier/QueryDNinfoFromLEStoEhaier"/>
      <WL5G3N0:input>
        <WL5G3N2:body use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N2:body use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
  </WL5G3N0:binding>
  <WL5G3N0:service name="QueryDNinfoFromLEStoEhaier">
    <WL5G3N0:port binding="WL5G3N1:QueryDNinfoFromLEStoEhaierSOAP" name="QueryDNinfoFromLEStoEhaierSOAP">
      <WL5G3N2:address location="http://10.135.1.110:7001/EAI/RoutingProxyService/EAI_SOAP_ServiceRoot?INT_CODE=EAI_INT_1666"/>
    </WL5G3N0:port>
  </WL5G3N0:service>
</WL5G3N0:definitions>