vehicle-svc/src/main/resources/wsdl_test/InsertSaleBill_ZKToCRM.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<WL5G3N0:definitions name="BPELProcess" targetNamespace="http://xmlns.oracle.com/Application/InsertSaleBill_ZKToCRM/BPELProcess" xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N1="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:WL5G3N2="http://xmlns.oracle.com/Application/InsertSaleBill_ZKToCRM/BPELProcess" xmlns:WL5G3N3="http://schemas.xmlsoap.org/wsdl/soap/">
  <WL5G3N0:documentation>
        http://10.138.40.168:7779/soa-infra/services/IHS/InsertSaleBill_ZKToCRM!1.0/BPELProcess.wsdl
    </WL5G3N0:documentation>
  <WL5G3N1:partnerLinkType name="BPELProcess">
    <WL5G3N1:role name="BPELProcessProvider">
      <WL5G3N1:portType name="WL5G3N2:BPELProcess"/>
    </WL5G3N1:role>
  </WL5G3N1:partnerLinkType>
  <WL5G3N0:types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:client="http://xmlns.oracle.com/Application/InsertSaleBill_ZKToCRM/BPELProcess" xmlns:ns1="http://www.example.org/eaiMonitor" xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <import namespace="http://xmlns.oracle.com/Application/InsertSaleBill_ZKToCRM/BPELProcess" schemaLocation="http://10.138.40.168:8001/EAI/service/IHS/InsertSaleBill_ZKToCRM/InsertSaleBill_ZKToCRM_Proxy?SCHEMA%2FSaleOrders%2FIHS%2FInsertSaleBill_ZKToCRM%2FXMLSchema_-2005861513"/>
    </schema>
    <xsd:schema xmlns:client="http://xmlns.oracle.com/Application/InsertSaleBill_ZKToCRM/BPELProcess" xmlns:ns1="http://www.example.org/eaiMonitor" xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.example.org/eaiMonitor" schemaLocation="http://10.138.40.168:8001/EAI/service/IHS/InsertSaleBill_ZKToCRM/InsertSaleBill_ZKToCRM_Proxy?SCHEMA%2FSaleOrders%2FIHS%2FInsertSaleBill_ZKToCRM%2FXMLSchema_-1025449456"/>
    </xsd:schema>
  </WL5G3N0:types>
  <WL5G3N0:message name="BPELProcessRequestMessage">
    <WL5G3N0:part element="WL5G3N2:InsertSaleBill_GVS2ProcessRequest" name="payload"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="BPELProcessResponseMessage">
    <WL5G3N0:part element="WL5G3N2:InsertSaleBill_GVS2ProcessResponse" name="payload"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="RemoteExceptionMessage">
    <WL5G3N0:part element="WL5G3N2:InsertSaleBill_GVS2ProcessResponse" name="Fault"/>
  </WL5G3N0:message>
  <WL5G3N0:portType name="BPELProcess">
    <WL5G3N0:operation name="process">
      <WL5G3N0:input message="WL5G3N2:BPELProcessRequestMessage"/>
      <WL5G3N0:output message="WL5G3N2:BPELProcessResponseMessage"/>
      <WL5G3N0:fault message="WL5G3N2:RemoteExceptionMessage" name="ThrowException"/>
    </WL5G3N0:operation>
  </WL5G3N0:portType>
  <WL5G3N0:binding name="BPELProcessBinding" type="WL5G3N2:BPELProcess">
    <WL5G3N3:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <WL5G3N0:operation name="process">
      <WL5G3N3:operation soapAction="process" style="document"/>
      <WL5G3N0:input>
        <WL5G3N3:body use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N3:body use="literal"/>
      </WL5G3N0:output>
      <WL5G3N0:fault name="ThrowException">
        <WL5G3N3:fault name="ThrowException" use="literal"/>
      </WL5G3N0:fault>
    </WL5G3N0:operation>
  </WL5G3N0:binding>
  <WL5G3N0:service name="bpelprocess_client_ep">
    <WL5G3N0:documentation>OSB Service</WL5G3N0:documentation>
    <WL5G3N0:port binding="WL5G3N2:BPELProcessBinding" name="BPELProcess_pt">
      <WL5G3N3:address location="http://10.138.40.168:8001/EAI/RoutingProxyService/EAI_SOAP_ServiceRoot?INT_CODE=HNM_INT_ECODE_3"/>
    </WL5G3N0:port>
  </WL5G3N0:service>
</WL5G3N0:definitions>