stock-svc/src/main/resources/wsdl/CreateSCOrderToLES.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<WL5G3N0:definitions name="CreateSCOrderToLES" targetNamespace="http://www.example.org/CreateSCOrderToLES/" xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N1="http://www.example.org/CreateSCOrderToLES/" xmlns:WL5G3N2="http://schemas.xmlsoap.org/wsdl/soap/">
  <WL5G3N0:types>
    <xsd:schema targetNamespace="http://www.example.org/CreateSCOrderToLES/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/CreateSCOrderToLES/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="CreateSCOrderToLES">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="Input" type="tns:InputType"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CreateSCOrderToLESResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="Output" type="tns:OutputType"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="InputType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="SOURCE" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="SOURCE_EXT" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="SOURCE_SN" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="BSTKD" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="POSEX" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="AUDAT" type="xsd:date"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="AUTIM" type="xsd:time"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="AUART" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="KUNNR" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="KUNWE" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="MATNR" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="COMTYP" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="KWMENG" type="xsd:decimal"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="MEINS" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="LGORT" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="CHARG" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="SDABW" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="AUGRU" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="BSTKD_E" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="POSNR_E" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="KBETR" type="xsd:decimal"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="KWERT" type="xsd:decimal"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="SHIPCO" type="xsd:decimal"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="KWERZ" type="xsd:decimal"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="DHRXM" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="DHRPH" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="SHRXM" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="SHRMOB" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="SHRTEL" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="PROV" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="CITY" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="COUNTY" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="ADDRESS" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="PSTLZ" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="PAYSTE" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="PAYTYP" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="YDDAT" type="xsd:date"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="YDTIME" type="xsd:time"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="SDMEMO" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="KUNEM" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="KUNZ1" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="SDAEM" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="URLAB" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="URMEMO" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="INVO" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="INVTYP" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="INVACC" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="INVADD" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="INVBANK" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="INVNUM" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="ERDAT" type="xsd:date"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="ERZET" type="xsd:time"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="ADD1" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="ADD2" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="ADD3" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="OutputType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="BSTKD" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="POSEX" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="VBELN" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="POSNR" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="FLAG" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="MESSAGE" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </WL5G3N0:types>
  <WL5G3N0:message name="CreateSCOrderToLESRequest">
    <WL5G3N0:part element="WL5G3N1:CreateSCOrderToLES" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="CreateSCOrderToLESResponse">
    <WL5G3N0:part element="WL5G3N1:CreateSCOrderToLESResponse" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:portType name="CreateSCOrderToLES">
    <WL5G3N0:operation name="CreateSCOrderToLES">
      <WL5G3N0:input message="WL5G3N1:CreateSCOrderToLESRequest"/>
      <WL5G3N0:output message="WL5G3N1:CreateSCOrderToLESResponse"/>
    </WL5G3N0:operation>
  </WL5G3N0:portType>
  <WL5G3N0:binding name="CreateSCOrderToLESSOAP" type="WL5G3N1:CreateSCOrderToLES">
    <WL5G3N2:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <WL5G3N0:operation name="CreateSCOrderToLES">
      <WL5G3N2:operation soapAction="http://www.example.org/CreateSCOrderToLES/CreateSCOrderToLES"/>
      <WL5G3N0:input>
        <WL5G3N2:body use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N2:body use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
  </WL5G3N0:binding>
  <WL5G3N0:service name="CreateSCOrderToLES">
    <WL5G3N0:port binding="WL5G3N1:CreateSCOrderToLESSOAP" name="CreateSCOrderToLESSOAP">
      <!-- <WL5G3N2:address location="http://10.9.30.192:8007/mockCreateSCOrderToLESSOAP"/> -->
      <WL5G3N2:address location="http://10.135.1.185:7001/EAI/service/LES/CreateSCOrderToLES/CreateSCOrderToLES"/>
    </WL5G3N0:port>
  </WL5G3N0:service>
</WL5G3N0:definitions>