stock-svc/src/main/resources/wsdl/PushProSaleOrderToEhaierSAP.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<WL5G3N0:definitions name="PushProSaleOrderToEhaierSAP"
	targetNamespace="http://www.example.org/PushProSaleOrderToEhaierSAP/"
	xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N1="http://www.example.org/PushProSaleOrderToEhaierSAP/"
	xmlns:WL5G3N2="http://schemas.xmlsoap.org/wsdl/soap/">
	<WL5G3N0:types>
		<xsd:schema targetNamespace="http://www.example.org/PushProSaleOrderToEhaierSAP/"
			xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/PushProSaleOrderToEhaierSAP/"
			xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:element name="PushProSaleOrderToEhaierSAP">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="unbounded" minOccurs="0"
							name="T_ZSDS0008" type="tns:ZSDS0008" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="PushProSaleOrderToEhaierSAPResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="EX_SUBRC" type="xsd:int" />
						<xsd:element maxOccurs="unbounded" minOccurs="0" name="T_MSG"
							type="tns:ZSDS0002">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:complexType name="ZSDS0008">
				<xsd:sequence>
					<xsd:element name="ZSYST" type="xsd:string" />
					<xsd:element name="ZWBDR" type="xsd:string" />
					<xsd:element name="ZWBDT" type="xsd:string" />
					<xsd:element name="ZORDR" type="xsd:string" />
					<xsd:element name="ZCHNL" type="xsd:string" />
					<xsd:element name="KUNNR_AG" type="xsd:string" />
					<xsd:element name="KUNNR_RG" type="xsd:string" />
					<xsd:element name="AUGRU" type="xsd:string" />
					<xsd:element name="MATNR" type="xsd:string" />
					<xsd:element name="KWMENG" type="xsd:decimal" />
					<xsd:element name="KBETR" type="xsd:decimal" />
					<xsd:element name="LGORT" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ZSDS0002">
				<xsd:sequence>
					<xsd:element name="TYPE" type="xsd:string" />
					<xsd:element name="ID" type="xsd:string" />
					<xsd:element name="NUMBER" type="xsd:string" />
					<xsd:element name="MESSAGE" type="xsd:string" />
					<xsd:element name="MESSAGE_V1" type="xsd:string" />
					<xsd:element name="MESSAGE_V2" type="xsd:string" />
					<xsd:element name="MESSAGE_V3" type="xsd:string" />
					<xsd:element name="MESSAGE_V4" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</WL5G3N0:types>
	<WL5G3N0:message name="PushProSaleOrderToEhaierSAPRequest">
		<WL5G3N0:part element="WL5G3N1:PushProSaleOrderToEhaierSAP"
			name="parameters" />
	</WL5G3N0:message>
	<WL5G3N0:message name="PushProSaleOrderToEhaierSAPResponse">
		<WL5G3N0:part element="WL5G3N1:PushProSaleOrderToEhaierSAPResponse"
			name="parameters" />
	</WL5G3N0:message>
	<WL5G3N0:portType name="PushProSaleOrderToEhaierSAP">
		<WL5G3N0:operation name="PushProSaleOrderToEhaierSAP">
			<WL5G3N0:input message="WL5G3N1:PushProSaleOrderToEhaierSAPRequest" />
			<WL5G3N0:output message="WL5G3N1:PushProSaleOrderToEhaierSAPResponse" />
		</WL5G3N0:operation>
	</WL5G3N0:portType>
	<WL5G3N0:binding name="PushProSaleOrderToEhaierSAPSOAP"
		type="WL5G3N1:PushProSaleOrderToEhaierSAP">
		<WL5G3N2:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<WL5G3N0:operation name="PushProSaleOrderToEhaierSAP">
			<WL5G3N2:operation
				soapAction="http://www.example.org/PushProSaleOrderToEhaierSAP/PushProSaleOrderToEhaierSAP" />
			<WL5G3N0:input>
				<WL5G3N2:body use="literal" />
			</WL5G3N0:input>
			<WL5G3N0:output>
				<WL5G3N2:body use="literal" />
			</WL5G3N0:output>
		</WL5G3N0:operation>
	</WL5G3N0:binding>
	<WL5G3N0:service name="PushProSaleOrderToEhaierSAP">
		<WL5G3N0:port binding="WL5G3N1:PushProSaleOrderToEhaierSAPSOAP"
			name="PushProSaleOrderToEhaierSAPSOAP">
			<WL5G3N2:address
				location="http://10.135.1.110:7001/EAI/RoutingProxyService/EAI_SOAP_ServiceRoot?INT_CODE=EAI_INT_0533" />

			<!-- <WL5G3N2:address location="${pom.eai.url}/EAI/service/GVS/PushProSaleOrderToEhaierSAP/PushProSaleOrderToEhaierSAP"/> -->
		</WL5G3N0:port>
	</WL5G3N0:service>
</WL5G3N0:definitions>