stock-svc/src/main/resources/wsdl/QueryOrderHandleInfoFromGVS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<WL5G3N0:definitions name="QueryOrderHandleInfoFromGVS"
	targetNamespace="http://www.example.org/QueryOrderHandleInfoFromGVS/"
	xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N1="http://www.example.org/QueryOrderHandleInfoFromGVS/"
	xmlns:WL5G3N2="http://schemas.xmlsoap.org/wsdl/soap/">
	<WL5G3N0:types>
		<xsd:schema targetNamespace="http://www.example.org/QueryOrderHandleInfoFromGVS/"
			xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/QueryOrderHandleInfoFromGVS/"
			xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:element name="QueryOrderHandleInfoFromGVS">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="unbounded" minOccurs="0"
							name="T_ZSDS0006" type="tns:ZSDS0006" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="QueryOrderHandleInfoFromGVSResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="unbounded" minOccurs="0"
							name="T_ZSDS0003" type="tns:ZSDS0003" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:complexType name="ZSDS0006">
				<xsd:sequence>
					<xsd:element name="ZSYST" type="xsd:string" />
					<xsd:element name="ZWBDR" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ZSDS0003">
				<xsd:sequence>
					<xsd:element name="ZSYST" type="xsd:string" />
					<xsd:element name="ZWBDR" type="xsd:string" />
					<xsd:element name="ZSTTS" type="xsd:string" />
					<xsd:element name="ZTYPE" type="xsd:string" />
					<xsd:element name="ZMSG" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</WL5G3N0:types>
	<WL5G3N0:message name="QueryOrderHandleInfoFromGVSRequest">
		<WL5G3N0:part element="WL5G3N1:QueryOrderHandleInfoFromGVS"
			name="parameters" />
	</WL5G3N0:message>
	<WL5G3N0:message name="QueryOrderHandleInfoFromGVSResponse">
		<WL5G3N0:part element="WL5G3N1:QueryOrderHandleInfoFromGVSResponse"
			name="parameters" />
	</WL5G3N0:message>
	<WL5G3N0:portType name="QueryOrderHandleInfoFromGVS">
		<WL5G3N0:operation name="QueryOrderHandleInfoFromGVS">
			<WL5G3N0:input message="WL5G3N1:QueryOrderHandleInfoFromGVSRequest" />
			<WL5G3N0:output message="WL5G3N1:QueryOrderHandleInfoFromGVSResponse" />
		</WL5G3N0:operation>
	</WL5G3N0:portType>
	<WL5G3N0:binding name="QueryOrderHandleInfoFromGVSSOAP"
		type="WL5G3N1:QueryOrderHandleInfoFromGVS">
		<WL5G3N2:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<WL5G3N0:operation name="QueryOrderHandleInfoFromGVS">
			<WL5G3N2:operation
				soapAction="http://www.example.org/QueryOrderHandleInfoFromGVS/QueryOrderHandleInfoFromGVS" />
			<WL5G3N0:input>
				<WL5G3N2:body use="literal" />
			</WL5G3N0:input>
			<WL5G3N0:output>
				<WL5G3N2:body use="literal" />
			</WL5G3N0:output>
		</WL5G3N0:operation>
	</WL5G3N0:binding>
	<WL5G3N0:service name="QueryOrderHandleInfoFromGVS">
		<WL5G3N0:port binding="WL5G3N1:QueryOrderHandleInfoFromGVSSOAP"
			name="QueryOrderHandleInfoFromGVSSOAP">
			<WL5G3N2:address
				location="http://10.135.1.110:7001/EAI/RoutingProxyService/EAI_SOAP_ServiceRoot?INT_CODE=EAI_INT_0540" />
			<!-- <WL5G3N2:address location="${pom.eai.url}/EAI/service/GVS/QueryOrderHandleInfoFromGVS/QueryOrderHandleInfoFromGVS"/> -->
		</WL5G3N0:port>
	</WL5G3N0:service>
</WL5G3N0:definitions>