invoice-svc/src/main/resources/wsdl_test/QueryInvoiceInfoFromTAXtoEHAIER.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<WL5G3N0:definitions name="QueryInvoiceInfoFromTAXtoEHAIER" targetNamespace="http://www.example.org/QueryInvoiceInfoFromTAXtoEHAIER/" xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N1="http://www.example.org/QueryInvoiceInfoFromTAXtoEHAIER/" xmlns:WL5G3N2="http://schemas.xmlsoap.org/wsdl/soap/">
  <WL5G3N0:types>
    <xsd:schema targetNamespace="http://www.example.org/QueryInvoiceInfoFromTAXtoEHAIER/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/QueryInvoiceInfoFromTAXtoEHAIER/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="QueryInvoiceInfoFromTAXtoEHAIER">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="WDH" type="xsd:string">
            			</xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="QueryInvoiceInfoFromTAXtoEHAIERResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="WDH" type="xsd:string">
            			</xsd:element>
                  <xsd:element name="KHBM" type="xsd:string">
            			</xsd:element>
                  <xsd:element name="KHMC" type="xsd:string">
            			</xsd:element>
                  <xsd:element name="KHSH" type="xsd:string">
            			</xsd:element>
                  <xsd:element name="KHDZ" type="xsd:string">
            			</xsd:element>
                  <xsd:element name="KHKHYHZH" type="xsd:string">
            			</xsd:element>
                  <xsd:element name="BZ" type="xsd:string">
            			</xsd:element>
                  <xsd:element name="WDRQ" type="xsd:dateTime">
            			</xsd:element>
                  <xsd:element name="CPDM" type="xsd:string">
            			</xsd:element>
                  <xsd:element name="CPMC" type="xsd:string">
            			</xsd:element>
                  <xsd:element name="CPXH" type="xsd:string">
            			</xsd:element>
                  <xsd:element name="CPDW" type="xsd:string">
            			</xsd:element>
                  <xsd:element name="CPSL" type="xsd:decimal">
            			</xsd:element>
                  <xsd:element name="HSDJ" type="xsd:decimal">
            			</xsd:element>
                  <xsd:element name="HSJE" type="xsd:decimal">
            			</xsd:element>
                  <xsd:element name="BHSDJ" type="xsd:decimal">
            			</xsd:element>
                  <xsd:element name="BHSJE" type="xsd:decimal">
            			</xsd:element>
                  <xsd:element name="JSJE" type="xsd:decimal">
            			</xsd:element>
                  <xsd:element name="JSSL" type="xsd:decimal">
            			</xsd:element>
                  <xsd:element name="JFJE" type="xsd:decimal">
            			</xsd:element>
                  <xsd:element name="JLJE" type="xsd:decimal">
            			</xsd:element>
                  <xsd:element name="JLBZ" type="xsd:string">
            			</xsd:element>
                  <xsd:element name="FPLX" type="xsd:int">
            			</xsd:element>
                  <xsd:element name="FPZT" type="xsd:int">
            			</xsd:element>
                  <xsd:element name="SKFS" type="xsd:string">
            			</xsd:element>
                  <xsd:element name="LBJSDH" type="xsd:string">
            			</xsd:element>
                  <xsd:element name="KWBM" type="xsd:string">
            			</xsd:element>
                  <xsd:element name="HPTX" type="xsd:int">
            			</xsd:element>
                  <xsd:element name="DDLX" type="xsd:string">
            			</xsd:element>
                  <xsd:element name="FGSNO" type="xsd:string">
            			</xsd:element>
                  <xsd:element name="DDHNO" type="xsd:string">
            			</xsd:element>
                  <xsd:element name="WLNO" type="xsd:string">
            			</xsd:element>
                  <xsd:element name="ADD1" type="xsd:string">
            			</xsd:element>
                  <xsd:element name="ADD2" type="xsd:string">
            			</xsd:element>
                  <xsd:element name="RRRQ" type="xsd:dateTime">
            			</xsd:element>
                  <xsd:element name="GXRQ" type="xsd:dateTime">
            			</xsd:element>
                  <xsd:element name="FPHM" type="xsd:string">
            			</xsd:element>
                  <xsd:element name="KPRQ" type="xsd:dateTime">
            			</xsd:element>
                  <xsd:element name="SKRQ" type="xsd:dateTime">
            			</xsd:element>
                  <xsd:element name="KPMAN" type="xsd:string">
            			</xsd:element>
                  <xsd:element name="KPZT" type="xsd:int">
            			</xsd:element>
                  <xsd:element name="ZFRQ" type="xsd:dateTime">
            			</xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </WL5G3N0:types>
  <WL5G3N0:message name="QueryInvoiceInfoFromTAXtoEHAIERRequest">
    <WL5G3N0:part element="WL5G3N1:QueryInvoiceInfoFromTAXtoEHAIER" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="QueryInvoiceInfoFromTAXtoEHAIERResponse">
    <WL5G3N0:part element="WL5G3N1:QueryInvoiceInfoFromTAXtoEHAIERResponse" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:portType name="QueryInvoiceInfoFromTAXtoEHAIER">
    <WL5G3N0:operation name="QueryInvoiceInfoFromTAXtoEHAIER">
      <WL5G3N0:input message="WL5G3N1:QueryInvoiceInfoFromTAXtoEHAIERRequest"/>
      <WL5G3N0:output message="WL5G3N1:QueryInvoiceInfoFromTAXtoEHAIERResponse"/>
    </WL5G3N0:operation>
  </WL5G3N0:portType>
  <WL5G3N0:binding name="QueryInvoiceInfoFromTAXtoEHAIERSOAP" type="WL5G3N1:QueryInvoiceInfoFromTAXtoEHAIER">
    <WL5G3N2:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <WL5G3N0:operation name="QueryInvoiceInfoFromTAXtoEHAIER">
      <WL5G3N2:operation soapAction="http://www.example.org/QueryInvoiceInfoFromTAXtoEHAIER/QueryInvoiceInfoFromTAXtoEHAIER"/>
      <WL5G3N0:input>
        <WL5G3N2:body use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N2:body use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
  </WL5G3N0:binding>
  <WL5G3N0:service name="QueryInvoiceInfoFromTAXtoEHAIER">
    <WL5G3N0:port binding="WL5G3N1:QueryInvoiceInfoFromTAXtoEHAIERSOAP" name="QueryInvoiceInfoFromTAXtoEHAIERSOAP">
      <!-- 测试地址 --><WL5G3N2:address location="http://10.9.20.107:8088/mockQueryInvoiceInfoFromTAXtoEHAIERSOAP"/>
      <!-- 正式环境地址 --><!-- <WL5G3N2:address location="http://58.56.128.10:19001/EAI/service/GoldenTax/QueryInvoiceInfoFromTAXtoEHAIER/QueryInvoiceInfoFromTAXtoEHAIER"/> -->
    </WL5G3N0:port>
  </WL5G3N0:service>
</WL5G3N0:definitions>
