svc-svc/src/main/resources/wsdl_test/InsertDataToHP.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<WL5G3N0:definitions xmlns:WL5G3N2="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:WL5G3N1="http://www.example.org/InsertDataToHP/" xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://www.example.org/InsertDataToHP/" name="InsertDataToHP">
<WL5G3N0:types>
<xsd:schema targetNamespace="http://www.example.org/InsertDataToHP/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.example.org/InsertDataToHP/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
<xsd:element name="InsertDataToHP">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="Inputs" minOccurs="0" maxOccurs="unbounded">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="orderNo" type="xsd:string"> </xsd:element>
<xsd:element name="counts" type="xsd:decimal"> </xsd:element>
<xsd:element name="createdDate" type="xsd:dateTime"> </xsd:element>
<xsd:element name="prodtypeId" type="xsd:string"> </xsd:element>
<xsd:element name="type" type="xsd:string"> </xsd:element>
<xsd:element name="checkType" type="xsd:string"> </xsd:element>
<xsd:element name="requestServiceRemark" type="xsd:string"> </xsd:element>
<xsd:element name="requestServiceDate" type="xsd:dateTime"> </xsd:element>
<xsd:element name="oldOrder" type="xsd:string"> </xsd:element>
<xsd:element name="remark" type="xsd:string"> </xsd:element>
<xsd:element name="ifTk" type="xsd:string"> </xsd:element>
<xsd:element name="tkReason" type="xsd:string"> </xsd:element>
<xsd:element name="tkje" type="xsd:decimal"> </xsd:element>
<xsd:element name="tkRemark" type="xsd:string"> </xsd:element>
<xsd:element name="attribute1" type="xsd:string"> </xsd:element>
<xsd:element name="attribute2" type="xsd:string"> </xsd:element>
<xsd:element name="attribute3" type="xsd:string"> </xsd:element>
<xsd:element name="attribute4" type="xsd:string"> </xsd:element>
<xsd:element name="attribute5" type="xsd:string"> </xsd:element>
<xsd:element name="attribute6" type="xsd:string"> </xsd:element>
<xsd:element name="attribute7" type="xsd:string"> </xsd:element>
<xsd:element name="attribute8" type="xsd:string"> </xsd:element>
<xsd:element name="attribute9" type="xsd:string"> </xsd:element>
<xsd:element name="attribute10" type="xsd:string"> </xsd:element>
<xsd:element name="procFlag" type="xsd:string"> </xsd:element>
<xsd:element name="procRemark" type="xsd:string"> </xsd:element>
<xsd:element name="ifEcjd" type="xsd:string"> </xsd:element>
<xsd:element name="tcCode" type="xsd:string"> </xsd:element>
<xsd:element name="productNo" type="xsd:string"> </xsd:element>
<xsd:element name="adressNew" type="xsd:string"> </xsd:element>
<xsd:element name="customerName" type="xsd:string"> </xsd:element>
<xsd:element name="mobilePhone" type="xsd:string"> </xsd:element>
<xsd:element name="telephone" type="xsd:string"> </xsd:element>
<xsd:element name="mopPoi" type="xsd:string"> </xsd:element>
<xsd:element name="county" type="xsd:string"> </xsd:element>
<xsd:element name="ifJd" type="xsd:string"> </xsd:element>
<xsd:element name="ifLh" type="xsd:string"> </xsd:element>
<xsd:element name="sourceNo" type="xsd:string"> </xsd:element>
<xsd:element name="orderDate" type="xsd:dateTime"> </xsd:element>
<xsd:element name="source" type="xsd:string"> </xsd:element>
<xsd:element name="sourceSn" type="xsd:string"> </xsd:element>
<xsd:element name="productType" type="xsd:string"> </xsd:element>
<xsd:element name="prov" type="xsd:string"> </xsd:element>
<xsd:element name="city" type="xsd:string"> </xsd:element>
<xsd:element name="types" type="xsd:string"> </xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="InsertDataToHPResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FLAG" type="xsd:string"/>
<xsd:element name="MSG" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:schema>
</WL5G3N0:types>
<WL5G3N0:message name="InsertDataToHPRequest">
<WL5G3N0:part name="parameters" element="WL5G3N1:InsertDataToHP"/>
</WL5G3N0:message>
<WL5G3N0:message name="InsertDataToHPResponse">
<WL5G3N0:part name="parameters" element="WL5G3N1:InsertDataToHPResponse"/>
</WL5G3N0:message>
<WL5G3N0:portType name="InsertDataToHP">
<WL5G3N0:operation name="InsertDataToHP">
<WL5G3N0:input message="WL5G3N1:InsertDataToHPRequest"/>
<WL5G3N0:output message="WL5G3N1:InsertDataToHPResponse"/>
</WL5G3N0:operation>
</WL5G3N0:portType>
<WL5G3N0:binding name="InsertDataToHPSOAP" type="WL5G3N1:InsertDataToHP">
<WL5G3N2:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<WL5G3N0:operation name="InsertDataToHP">
<WL5G3N2:operation soapAction="http://www.example.org/InsertDataToHP/InsertDataToHP"/>
<WL5G3N0:input>
<WL5G3N2:body use="literal"/>
</WL5G3N0:input>
<WL5G3N0:output>
<WL5G3N2:body use="literal"/>
</WL5G3N0:output>
</WL5G3N0:operation>
</WL5G3N0:binding>
<WL5G3N0:service name="InsertDataToHP">
<WL5G3N0:documentation>OSB Service</WL5G3N0:documentation>
<WL5G3N0:port name="InsertDataToHPSOAP" binding="WL5G3N1:InsertDataToHPSOAP">
<WL5G3N2:address location="http://10.138.40.168:8001/EAI/RoutingProxyService/EAI_SOAP_ServiceRoot?INT_CODE=HP_test_001"/>
</WL5G3N0:port>
</WL5G3N0:service>
</WL5G3N0:definitions>