svc-svc/src/main/resources/wsdl_test/InsertWAOrderBillFromEhaierToCRM.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<WL5G3N0:definitions name="InsertWAOrderBillFromEhaierToCRM" targetNamespace="http://www.example.org/InsertWAOrderBillFromEhaierToCRM/" xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N1="http://www.example.org/InsertWAOrderBillFromEhaierToCRM/" xmlns:WL5G3N2="http://schemas.xmlsoap.org/wsdl/soap/">
  <WL5G3N0:types>
    <xsd:schema targetNamespace="http://www.example.org/InsertWAOrderBillFromEhaierToCRM/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/InsertWAOrderBillFromEhaierToCRM/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="InsertWAOrderBillFromEhaierToCRM">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="SysName" type="xsd:string"/>
            <xsd:element name="Master" type="tns:MasterType"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="Detail" type="tns:DetailType">
          	</xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="InsertWAOrderBillFromEhaierToCRMResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="BillCode" type="xsd:string"/>
            <xsd:element name="FLAG" type="xsd:string"/>
            <xsd:element name="MESSAGE" type="xsd:string"/>
            <xsd:element name="VBELN" type="xsd:string"/>
            <xsd:element name="VBELN_DN" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="MasterType">
        <xsd:sequence>
          <xsd:element name="BillCode" type="xsd:string"/>
          <xsd:element name="CorpCode" type="xsd:string"/>
          <xsd:element name="RegionID" type="xsd:string"/>
          <xsd:element name="BillType" type="xsd:string"/>
          <xsd:element name="PickType" type="xsd:string"/>
          <xsd:element name="CustCode" type="xsd:string"/>
          <xsd:element name="DestCode" type="xsd:string"/>
          <xsd:element name="BaseCode" type="xsd:string"/>
          <xsd:element name="WhCode" type="xsd:string"/>
          <xsd:element name="CustMgr" type="xsd:string"/>
          <xsd:element name="ProMgr" type="xsd:string"/>
          <xsd:element name="ProDeputy" type="xsd:string"/>
          <xsd:element name="PlanInDate" type="xsd:dateTime"/>
          <xsd:element name="OrderCode" type="xsd:string"/>
          <xsd:element name="ProjectCode" type="xsd:string"/>
          <xsd:element name="BudgetSort" type="xsd:string"/>
          <xsd:element name="BudgetOrg" type="xsd:string"/>
          <xsd:element name="InvSort" type="xsd:string"/>
          <xsd:element name="BrandCode" type="xsd:string"/>
          <xsd:element name="SaleOrgCode" type="xsd:string"/>
          <xsd:element name="UserMemo" type="xsd:string"/>
          <xsd:element name="Maker" type="xsd:string"/>
          <xsd:element name="AudiMan" type="xsd:string"/>
          <xsd:element name="AudiFlag" type="xsd:int"/>
          <xsd:element name="BName" type="xsd:string"/>
          <xsd:element name="Address" type="xsd:string"/>
          <xsd:element name="Tel" type="xsd:string"/>
          <xsd:element name="ZipCode" type="xsd:string"/>
          <xsd:element name="ReGetmoney" type="xsd:string"/>
          <xsd:element name="Flag" type="xsd:string"/>
          <xsd:element name="UpAccount" type="xsd:string"/>
          <xsd:element name="ADD1" type="xsd:string"/>
          <xsd:element name="ADD2" type="xsd:string"/>
          <xsd:element name="ADD3" type="xsd:string"/>
          <xsd:element name="ADD4" type="xsd:string"/>
          <xsd:element name="ADD5" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="DetailType">
        <xsd:sequence>
          <xsd:element name="BillCode" type="xsd:string"/>
          <xsd:element name="InvCode" type="xsd:string"/>
          <xsd:element name="InvSort" type="xsd:string"/>
          <xsd:element name="InvBrand" type="xsd:string"/>
          <xsd:element name="InvState" type="xsd:string"/>
          <xsd:element name="Qty" type="xsd:int"/>
          <xsd:element name="UnitPrice" type="xsd:decimal"/>
          <xsd:element name="SumMoney" type="xsd:decimal"/>
          <xsd:element name="StockPrice" type="xsd:decimal"/>
          <xsd:element name="RetailPrice" type="xsd:decimal"/>
          <xsd:element name="ActPrice" type="xsd:decimal"/>
          <xsd:element name="BateRate" type="xsd:decimal"/>
          <xsd:element name="BateMoney" type="xsd:decimal"/>
          <xsd:element name="VerCode" type="xsd:string"/>
          <xsd:element name="VerMoney" type="xsd:decimal"/>
          <xsd:element name="ProLossMoney" type="xsd:decimal"/>
          <xsd:element name="LossRate" type="xsd:decimal"/>
          <xsd:element name="IsFL" type="xsd:int"/>
          <xsd:element name="IsKPO" type="xsd:int"/>
          <xsd:element name="InvMemo" type="xsd:string"/>
          <xsd:element name="ADD1" type="xsd:string"/>
          <xsd:element name="ADD2" type="xsd:string"/>
          <xsd:element name="ADD3" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </WL5G3N0:types>
  <WL5G3N0:message name="InsertWAOrderBillFromEhaierToCRMRequest">
    <WL5G3N0:part element="WL5G3N1:InsertWAOrderBillFromEhaierToCRM" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="InsertWAOrderBillFromEhaierToCRMResponse">
    <WL5G3N0:part element="WL5G3N1:InsertWAOrderBillFromEhaierToCRMResponse" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:portType name="InsertWAOrderBillFromEhaierToCRM">
    <WL5G3N0:operation name="InsertWAOrderBillFromEhaierToCRM">
      <WL5G3N0:input message="WL5G3N1:InsertWAOrderBillFromEhaierToCRMRequest"/>
      <WL5G3N0:output message="WL5G3N1:InsertWAOrderBillFromEhaierToCRMResponse"/>
    </WL5G3N0:operation>
  </WL5G3N0:portType>
  <WL5G3N0:binding name="InsertWAOrderBillFromEhaierToCRMSOAP" type="WL5G3N1:InsertWAOrderBillFromEhaierToCRM">
    <WL5G3N2:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <WL5G3N0:operation name="InsertWAOrderBillFromEhaierToCRM">
      <WL5G3N2:operation soapAction="http://www.example.org/InsertWAOrderBillFromEhaierToCRM/InsertWAOrderBillFromEhaierToCRM"/>
      <WL5G3N0:input>
        <WL5G3N2:body use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N2:body use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
  </WL5G3N0:binding>
  <WL5G3N0:service name="InsertWAOrderBillFromEhaierToCRM">
    <WL5G3N0:port binding="WL5G3N1:InsertWAOrderBillFromEhaierToCRMSOAP" name="InsertWAOrderBillFromEhaierToCRMSOAP">
      <WL5G3N2:address location="http://10.138.40.168:8001/EAI/RoutingProxyService/EAI_SOAP_ServiceRoot?INT_CODE=temp_service_0161"/>
    </WL5G3N0:port>
  </WL5G3N0:service>
</WL5G3N0:definitions>