svc-svc/src/main/resources/wsdl_test/QueryFrostOrderFromEHAIERToOMS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<WL5G3N0:definitions name="QueryFrostOrderFromEHAIERToOMS" targetNamespace="http://www.example.org/QueryFrostOrderFromEHAIERToOMS/" xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N1="http://www.example.org/QueryFrostOrderFromEHAIERToOMS/" xmlns:WL5G3N2="http://schemas.xmlsoap.org/wsdl/soap/">
  <WL5G3N0:types>
    <xsd:schema targetNamespace="http://www.example.org/QueryFrostOrderFromEHAIERToOMS/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/QueryFrostOrderFromEHAIERToOMS/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="QueryFrostOrderFromEHAIERToOMS">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="tns:inType"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="QueryFrostOrderFromEHAIERToOMSResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="tns:outType"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="inType">
        <xsd:sequence>
          <xsd:element name="orderCode" type="xsd:string"/>
          <xsd:element name="detailCode" type="xsd:string"/>
          <xsd:element name="fromSystem" type="xsd:string"/>
          <xsd:element name="operationFlage" type="xsd:string"/>
          <xsd:element name="cancelReason" type="xsd:string"/>
          <xsd:element name="fild1" type="xsd:string"/>
          <xsd:element name="fild2" type="xsd:string"/>
          <xsd:element name="fild3" type="xsd:string"/>
          <xsd:element name="fild4" type="xsd:string"/>
          <xsd:element name="fild5" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="outType">
        <xsd:sequence>
          <xsd:element name="status" type="xsd:string"/>
          <xsd:element name="message" type="xsd:string"/>
          <xsd:element name="gvsOrderCode" type="xsd:string"/>
          <xsd:element name="orderCode" type="xsd:string"/>
          <xsd:element name="detailCode" type="xsd:string"/>
          <xsd:element name="fild1" type="xsd:string"/>
          <xsd:element name="fild2" type="xsd:string"/>
          <xsd:element name="fild3" type="xsd:string"/>
          <xsd:element name="fild4" type="xsd:string"/>
          <xsd:element name="fild5" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </WL5G3N0:types>
  <WL5G3N0:message name="QueryFrostOrderFromEHAIERToOMSRequest">
    <WL5G3N0:part element="WL5G3N1:QueryFrostOrderFromEHAIERToOMS" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="QueryFrostOrderFromEHAIERToOMSResponse">
    <WL5G3N0:part element="WL5G3N1:QueryFrostOrderFromEHAIERToOMSResponse" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:portType name="QueryFrostOrderFromEHAIERToOMS">
    <WL5G3N0:operation name="QueryFrostOrderFromEHAIERToOMS">
      <WL5G3N0:input message="WL5G3N1:QueryFrostOrderFromEHAIERToOMSRequest"/>
      <WL5G3N0:output message="WL5G3N1:QueryFrostOrderFromEHAIERToOMSResponse"/>
    </WL5G3N0:operation>
  </WL5G3N0:portType>
  <WL5G3N0:binding name="QueryFrostOrderFromEHAIERToOMSSOAP" type="WL5G3N1:QueryFrostOrderFromEHAIERToOMS">
    <WL5G3N2:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <WL5G3N0:operation name="QueryFrostOrderFromEHAIERToOMS">
      <WL5G3N2:operation soapAction="http://www.example.org/QueryFrostOrderFromEHAIERToOMS/QueryFrostOrderFromEHAIERToOMS"/>
      <WL5G3N0:input>
        <WL5G3N2:body use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N2:body use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
  </WL5G3N0:binding>
  <WL5G3N0:service name="QueryFrostOrderFromEHAIERToOMS">
    <WL5G3N0:port binding="WL5G3N1:QueryFrostOrderFromEHAIERToOMSSOAP" name="QueryFrostOrderFromEHAIERToOMSSOAP">
      <WL5G3N2:address location="http://10.135.1.198:7001/EAI/RoutingProxyService/EAI_SOAP_ServiceRoot?INT_CODE=EAI_INT_2511"/>
    </WL5G3N0:port>
  </WL5G3N0:service>
</WL5G3N0:definitions>