svc-svc/src/main/resources/wsdl_test/QueryWAOrderBillFromIHS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<WL5G3N0:definitions name="QueryWAOrderBillFromIHS" targetNamespace="http://www.example.org/QueryWAOrderBillFromIHS/" xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N1="http://www.example.org/QueryWAOrderBillFromIHS/" xmlns:WL5G3N2="http://schemas.xmlsoap.org/wsdl/soap/">
  <WL5G3N0:types>
    <xsd:schema targetNamespace="http://www.example.org/QueryWAOrderBillFromIHS/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/QueryWAOrderBillFromIHS/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="QueryWAOrderBillFromIHS">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="SysName" type="xsd:string"/>
            <xsd:element name="BeginDate" type="xsd:dateTime"/>
            <xsd:element name="EndDate" type="xsd:dateTime"/>
            <xsd:element name="BillCode" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="QueryWAOrderBillFromIHSResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="VW_WAOrderBillYTJOutput" type="tns:VW_WAOrderBillYTJOutput">
          	</xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="VW_WAOrderBillYTJOutput">
        <xsd:sequence>
          <xsd:element name="BillCode" type="xsd:string"/>
          <xsd:element name="BillDate" type="xsd:dateTime"/>
          <xsd:element name="SO" type="xsd:string"/>
          <xsd:element name="DN" type="xsd:string"/>
          <xsd:element name="WDCode" type="xsd:string"/>
          <xsd:element name="InvCode" type="xsd:string"/>
          <xsd:element name="UnitPrice" type="xsd:decimal"/>
          <xsd:element name="SumMoney" type="xsd:decimal"/>
          <xsd:element name="Qty" type="xsd:int"/>
          <xsd:element name="BateRate" type="xsd:decimal"/>
          <xsd:element name="Flag" type="xsd:string"/>
          <xsd:element name="Message" type="xsd:string"/>
          <xsd:element name="FaultDetail" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </WL5G3N0:types>
  <WL5G3N0:message name="QueryWAOrderBillFromIHSRequest">
    <WL5G3N0:part element="WL5G3N1:QueryWAOrderBillFromIHS" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="QueryWAOrderBillFromIHSResponse">
    <WL5G3N0:part element="WL5G3N1:QueryWAOrderBillFromIHSResponse" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:portType name="QueryWAOrderBillFromIHS">
    <WL5G3N0:operation name="QueryWAOrderBillFromIHS">
      <WL5G3N0:input message="WL5G3N1:QueryWAOrderBillFromIHSRequest"/>
      <WL5G3N0:output message="WL5G3N1:QueryWAOrderBillFromIHSResponse"/>
    </WL5G3N0:operation>
  </WL5G3N0:portType>
  <WL5G3N0:binding name="QueryWAOrderBillFromIHSSOAP" type="WL5G3N1:QueryWAOrderBillFromIHS">
    <WL5G3N2:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <WL5G3N0:operation name="QueryWAOrderBillFromIHS">
      <WL5G3N2:operation soapAction="http://www.example.org/QueryWAOrderBillFromIHS/QueryWAOrderBillFromIHS"/>
      <WL5G3N0:input>
        <WL5G3N2:body use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N2:body use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
  </WL5G3N0:binding>
  <WL5G3N0:service name="QueryWAOrderBillFromIHS">
    <WL5G3N0:port binding="WL5G3N1:QueryWAOrderBillFromIHSSOAP" name="QueryWAOrderBillFromIHSSOAP">
      <WL5G3N2:address location="http://10.135.1.198:7001/EAI/RoutingProxyService/EAI_SOAP_ServiceRoot?INT_CODE=temp_service_0155"/>
    </WL5G3N0:port>
  </WL5G3N0:service>
</WL5G3N0:definitions>