svc-svc/src/main/resources/wsdl_test/QueryOrderFromEHaierToOMS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<WL5G3N0:definitions name="QueryOrderFromEHaierToOMS" targetNamespace="http://www.example.org/QueryOrderFromEHaierToOMS/" xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N1="http://www.example.org/QueryOrderFromEHaierToOMS/" xmlns:WL5G3N2="http://schemas.xmlsoap.org/wsdl/soap/">
  <WL5G3N0:types>
    <xsd:schema targetNamespace="http://www.example.org/QueryOrderFromEHaierToOMS/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/QueryOrderFromEHaierToOMS/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="QueryOrderFromEHaierToOMS">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="requestData" type="tns:RequestData"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="QueryOrderFromEHaierToOMSResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="requestDataReturn" type="tns:ResponseData"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="RequestData">
        <xsd:sequence>
          <xsd:element name="SysName" type="xsd:string"/>
          <xsd:element name="field1" type="xsd:string"/>
          <xsd:element name="field2" type="xsd:string"/>
          <xsd:element name="field3" type="xsd:string"/>
          <xsd:element name="field4" type="xsd:string"/>
          <xsd:element name="field5" type="xsd:string"/>
          <xsd:element name="orderSoCode" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ResponseData">
        <xsd:sequence>
          <xsd:element name="actualShipDate" type="xsd:dateTime"/>
          <xsd:element name="cancelreason" type="xsd:string"/>
          <xsd:element name="confirmDate" type="xsd:dateTime"/>
          <xsd:element name="custOrderCode" type="xsd:string"/>
          <xsd:element name="custPoDetailCode" type="xsd:string"/>
          <xsd:element name="custrevqty" type="xsd:double"/>
          <xsd:element name="gvsDN" type="xsd:string"/>
          <xsd:element name="gvsOrderCode" type="xsd:string"/>
          <xsd:element name="latestArrivalTime" type="xsd:dateTime">
      		</xsd:element>
          <xsd:element name="latestLeaveBaseDate" type="xsd:string">
      		</xsd:element>
          <xsd:element name="madeFectoryCode" type="xsd:string"/>
          <xsd:element name="madeFectoryName" type="xsd:string"/>
          <xsd:element name="oesPredictrevDate" type="xsd:dateTime">
      		</xsd:element>
          <xsd:element name="orderSoCode" type="xsd:string"/>
          <xsd:element name="orderState" type="xsd:string"/>
          <xsd:element name="orderTypeName" type="xsd:string"/>
          <xsd:element name="plannedShipDate" type="xsd:dateTime"/>
          <xsd:element name="podDate" type="xsd:string"/>
          <xsd:element name="prodSeriesCode" type="xsd:string"/>
          <xsd:element name="promisedArrivalDate" type="xsd:dateTime">
      		</xsd:element>
          <xsd:element name="reqArrivalDate" type="xsd:dateTime"/>
          <xsd:element name="signDate" type="xsd:dateTime"/>
          <xsd:element name="submitDate" type="xsd:dateTime"/>
          <xsd:element name="tradeSendDate" type="xsd:dateTime"/>
          <xsd:element name="transitArrivalDate" type="xsd:dateTime">
      		</xsd:element>
          <xsd:element name="transitCode" type="xsd:string"/>
          <xsd:element name="wpOrderId" type="xsd:string"/>
          <xsd:element name="Message" type="xsd:string"/>
          <xsd:element name="Flag" type="xsd:string"/>
          <xsd:element name="FaultDetail" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </WL5G3N0:types>
  <WL5G3N0:message name="QueryOrderFromEHaierToOMSRequest">
    <WL5G3N0:part element="WL5G3N1:QueryOrderFromEHaierToOMS" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="QueryOrderFromEHaierToOMSResponse">
    <WL5G3N0:part element="WL5G3N1:QueryOrderFromEHaierToOMSResponse" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:portType name="QueryOrderFromEHaierToOMS">
    <WL5G3N0:operation name="QueryOrderFromEHaierToOMS">
      <WL5G3N0:input message="WL5G3N1:QueryOrderFromEHaierToOMSRequest"/>
      <WL5G3N0:output message="WL5G3N1:QueryOrderFromEHaierToOMSResponse"/>
    </WL5G3N0:operation>
  </WL5G3N0:portType>
  <WL5G3N0:binding name="QueryOrderFromEHaierToOMSSOAP" type="WL5G3N1:QueryOrderFromEHaierToOMS">
    <WL5G3N2:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <WL5G3N0:operation name="QueryOrderFromEHaierToOMS">
      <WL5G3N2:operation soapAction="http://www.example.org/QueryOrderFromEHaierToOMS/QueryOrderFromEHaierToOMS"/>
      <WL5G3N0:input>
        <WL5G3N2:body use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N2:body use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
  </WL5G3N0:binding>
  <WL5G3N0:service name="QueryOrderFromEHaierToOMS">
    <WL5G3N0:port binding="WL5G3N1:QueryOrderFromEHaierToOMSSOAP" name="QueryOrderFromEHaierToOMSSOAP">
      <WL5G3N2:address location="http://10.135.1.198:7001/EAI/RoutingProxyService/EAI_SOAP_ServiceRoot?INT_CODE=EAI_INT_1857"/>
    </WL5G3N0:port>
  </WL5G3N0:service>
</WL5G3N0:definitions>