svc-svc/src/main/resources/wsdl_test/SelectMDMInfoFromMDMByConditon.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<WL5G3N0:definitions xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N1="http://www.example.org/SelectMDMInfoFromMDMByConditon/" xmlns:WL5G3N2="http://schemas.xmlsoap.org/wsdl/soap/" name="SelectMDMInfoFromMDMByConditon" targetNamespace="http://www.example.org/SelectMDMInfoFromMDMByConditon/">
	<WL5G3N0:types>
		<xsd:schema targetNamespace="http://www.example.org/SelectMDMInfoFromMDMByConditon/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/SelectMDMInfoFromMDMByConditon/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:element name="SelectMDMInfoFromMDMByConditon_OP">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Inputs" type="tns:InputsType"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="SelectMDMInfoFromMDMByConditon_OPResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Outputs" type="tns:OutputsType"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:complexType name="InputsType">
				<xsd:sequence>
					<xsd:element name="Department" type="xsd:string"/>
					<xsd:element name="TableName" type="xsd:string"/>
					<xsd:element name="Condition" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="OutputsType">
				<xsd:sequence>
					<xsd:element name="out" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</WL5G3N0:types>
	<WL5G3N0:message name="SelectMDMInfoFromMDMByConditon_OPRequest">
		<WL5G3N0:part name="parameters" element="WL5G3N1:SelectMDMInfoFromMDMByConditon_OP"/>
	</WL5G3N0:message>
	<WL5G3N0:message name="SelectMDMInfoFromMDMByConditon_OPResponse">
		<WL5G3N0:part name="parameters" element="WL5G3N1:SelectMDMInfoFromMDMByConditon_OPResponse"/>
	</WL5G3N0:message>
	<WL5G3N0:portType name="SelectMDMInfoFromMDMByConditon">
		<WL5G3N0:operation name="SelectMDMInfoFromMDMByConditon_OP">
			<WL5G3N0:input message="WL5G3N1:SelectMDMInfoFromMDMByConditon_OPRequest"/>
			<WL5G3N0:output message="WL5G3N1:SelectMDMInfoFromMDMByConditon_OPResponse"/>
		</WL5G3N0:operation>
	</WL5G3N0:portType>
	<WL5G3N0:binding name="SelectMDMInfoFromMDMByConditonSOAP" type="WL5G3N1:SelectMDMInfoFromMDMByConditon">
		<WL5G3N2:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<WL5G3N0:operation name="SelectMDMInfoFromMDMByConditon_OP">
			<WL5G3N2:operation soapAction="http://www.example.org/SelectMDMInfoFromMDMByConditon/SelectMDMInfoFromMDMByConditon_OP"/>
			<WL5G3N0:input>
				<WL5G3N2:body use="literal"/>
			</WL5G3N0:input>
			<WL5G3N0:output>
				<WL5G3N2:body use="literal"/>
			</WL5G3N0:output>
		</WL5G3N0:operation>
	</WL5G3N0:binding>
	<WL5G3N0:service name="SelectMDMInfoFromMDMByConditon">
		<WL5G3N0:port name="SelectMDMInfoFromMDMByConditonSOAP" binding="WL5G3N1:SelectMDMInfoFromMDMByConditonSOAP">
			<WL5G3N2:address location="http://10.135.1.198:7002/EAI/RoutingProxyService/EAI_SOAP_ServiceRoot?INT_CODE=EAI_INT_0441"/>
		</WL5G3N0:port>
	</WL5G3N0:service>
</WL5G3N0:definitions>
