svc-svc/src/main/resources/wsdl_test/TranForecastSubmissionFromOMSToCBS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<WL5G3N0:definitions targetNamespace="http://service.oms.haier.com/services/InterfaceOMSForecast" xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N1="http://service.oms.haier.com/services/InterfaceOMSForecast" xmlns:WL5G3N2="http://schemas.xmlsoap.org/wsdl/soap/">
  <WL5G3N0:types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://service.oms.haier.com/services/InterfaceOMSForecast" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://service.oms.haier.com/services/InterfaceOMSForecast" xmlns:intf="http://service.oms.haier.com/services/InterfaceOMSForecast" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:complexType name="RequestData">
        <xsd:sequence>
          <xsd:element name="customerCode" nillable="true" type="xsd:string"/>
          <xsd:element name="customerName" nillable="true" type="xsd:string"/>
          <xsd:element name="fromSystem" nillable="true" type="xsd:string"/>
          <xsd:element name="omsRole" nillable="true" type="xsd:string"/>
          <xsd:element name="productCode" nillable="true" type="xsd:string"/>
          <xsd:element name="roleChannel" nillable="true" type="xsd:string"/>
          <xsd:element name="t10_num" nillable="true" type="xsd:double"/>
          <xsd:element name="t10_num_tm" nillable="true" type="xsd:double"/>
          <xsd:element name="t10_num_tm1" nillable="true" type="xsd:double"/>
          <xsd:element name="t10_num_tm2" nillable="true" type="xsd:double"/>
          <xsd:element name="t10_num_tm3" nillable="true" type="xsd:double"/>
          <xsd:element name="t11_num" nillable="true" type="xsd:double"/>
          <xsd:element name="t11_num_tm" nillable="true" type="xsd:double"/>
          <xsd:element name="t11_num_tm1" nillable="true" type="xsd:double"/>
          <xsd:element name="t11_num_tm2" nillable="true" type="xsd:double"/>
          <xsd:element name="t11_num_tm3" nillable="true" type="xsd:double"/>
          <xsd:element name="t12_num" nillable="true" type="xsd:double"/>
          <xsd:element name="t12_num_tm" nillable="true" type="xsd:double"/>
          <xsd:element name="t12_num_tm1" nillable="true" type="xsd:double"/>
          <xsd:element name="t12_num_tm2" nillable="true" type="xsd:double"/>
          <xsd:element name="t12_num_tm3" nillable="true" type="xsd:double"/>
          <xsd:element name="t13_num" nillable="true" type="xsd:double"/>
          <xsd:element name="t13_num_tm" nillable="true" type="xsd:double"/>
          <xsd:element name="t13_num_tm1" nillable="true" type="xsd:double"/>
          <xsd:element name="t13_num_tm2" nillable="true" type="xsd:double"/>
          <xsd:element name="t13_num_tm3" nillable="true" type="xsd:double"/>
          <xsd:element name="t3_num" nillable="true" type="xsd:double"/>
          <xsd:element name="t3_num_tm" nillable="true" type="xsd:double"/>
          <xsd:element name="t3_num_tm1" nillable="true" type="xsd:double"/>
          <xsd:element name="t3_num_tm2" nillable="true" type="xsd:double"/>
          <xsd:element name="t3_num_tm3" nillable="true" type="xsd:double"/>
          <xsd:element name="t4_num" nillable="true" type="xsd:double"/>
          <xsd:element name="t4_num_tm" nillable="true" type="xsd:double"/>
          <xsd:element name="t4_num_tm1" nillable="true" type="xsd:double"/>
          <xsd:element name="t4_num_tm2" nillable="true" type="xsd:double"/>
          <xsd:element name="t4_num_tm3" nillable="true" type="xsd:double"/>
          <xsd:element name="t5_num" nillable="true" type="xsd:double"/>
          <xsd:element name="t5_num_tm" nillable="true" type="xsd:double"/>
          <xsd:element name="t5_num_tm1" nillable="true" type="xsd:double"/>
          <xsd:element name="t5_num_tm2" nillable="true" type="xsd:double"/>
          <xsd:element name="t5_num_tm3" nillable="true" type="xsd:double"/>
          <xsd:element name="t6_num" nillable="true" type="xsd:double"/>
          <xsd:element name="t6_num_tm" nillable="true" type="xsd:double"/>
          <xsd:element name="t6_num_tm1" nillable="true" type="xsd:double"/>
          <xsd:element name="t6_num_tm2" nillable="true" type="xsd:double"/>
          <xsd:element name="t6_num_tm3" nillable="true" type="xsd:double"/>
          <xsd:element name="t7_num" nillable="true" type="xsd:double"/>
          <xsd:element name="t7_num_tm" nillable="true" type="xsd:double"/>
          <xsd:element name="t7_num_tm1" nillable="true" type="xsd:double"/>
          <xsd:element name="t7_num_tm2" nillable="true" type="xsd:double"/>
          <xsd:element name="t7_num_tm3" nillable="true" type="xsd:double"/>
          <xsd:element name="t8_num" nillable="true" type="xsd:double"/>
          <xsd:element name="t8_num_tm" nillable="true" type="xsd:double"/>
          <xsd:element name="t8_num_tm1" nillable="true" type="xsd:double"/>
          <xsd:element name="t8_num_tm2" nillable="true" type="xsd:double"/>
          <xsd:element name="t8_num_tm3" nillable="true" type="xsd:double"/>
          <xsd:element name="t9_num" nillable="true" type="xsd:double"/>
          <xsd:element name="t9_num_tm" nillable="true" type="xsd:double"/>
          <xsd:element name="t9_num_tm1" nillable="true" type="xsd:double"/>
          <xsd:element name="t9_num_tm2" nillable="true" type="xsd:double"/>
          <xsd:element name="t9_num_tm3" nillable="true" type="xsd:double"/>
          <xsd:element name="tradeCode" nillable="true" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="requestData" type="impl:RequestData"/>
      <xsd:complexType name="ResponseData">
        <xsd:sequence>
          <xsd:element name="reason" nillable="true" type="xsd:string"/>
          <xsd:element name="status" nillable="true" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="getForecastRecordReturn" type="impl:ResponseData"/>
    </xsd:schema>
  </WL5G3N0:types>
  <WL5G3N0:message name="getForecastRecordRequest">
    <WL5G3N0:part element="WL5G3N1:requestData" name="requestData"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="getForecastRecordResponse">
    <WL5G3N0:part element="WL5G3N1:getForecastRecordReturn" name="getForecastRecordReturn"/>
  </WL5G3N0:message>
  <WL5G3N0:portType name="InterfaceOMSForecast">
    <WL5G3N0:operation name="getForecastRecord" parameterOrder="requestData">
      <WL5G3N0:input message="WL5G3N1:getForecastRecordRequest" name="getForecastRecordRequest"/>
      <WL5G3N0:output message="WL5G3N1:getForecastRecordResponse" name="getForecastRecordResponse"/>
    </WL5G3N0:operation>
  </WL5G3N0:portType>
  <WL5G3N0:binding name="InterfaceOMSForecastSoapBinding" type="WL5G3N1:InterfaceOMSForecast">
    <WL5G3N2:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <WL5G3N0:operation name="getForecastRecord">
      <WL5G3N2:operation/>
      <WL5G3N0:input name="getForecastRecordRequest">
        <WL5G3N2:body use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output name="getForecastRecordResponse">
        <WL5G3N2:body use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
  </WL5G3N0:binding>
  <WL5G3N0:service name="InterfaceOMSForecastService">
    <WL5G3N0:documentation>OSB Service</WL5G3N0:documentation>
    <WL5G3N0:port binding="WL5G3N1:InterfaceOMSForecastSoapBinding" name="InterfaceOMSForecast">
      <WL5G3N2:address location="http://10.138.40.168:8001/Production/CBS/TranForecastSubmissionFromOMSToCBS/TranForecastSubmissionFromOMSToCBS"/>
    </WL5G3N0:port>
  </WL5G3N0:service>
</WL5G3N0:definitions>