svc-svc/src/main/resources/wsdl_test/TransForecastInfoFromOMS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<WL5G3N0:definitions name="TransForecastInfoFromOMS" targetNamespace="http://www.example.org/TransForecastInfoFromOMS/" xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N1="http://www.example.org/TransForecastInfoFromOMS/" xmlns:WL5G3N2="http://schemas.xmlsoap.org/wsdl/soap/">
  <WL5G3N0:types>
    <xsd:schema targetNamespace="http://www.example.org/TransForecastInfoFromOMS/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/TransForecastInfoFromOMS/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="TransForecastInfoFromOMS">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="requestData" type="tns:RequestData"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="TransForecastInfoFromOMSResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="requestDataReturn" type="tns:ResponseData"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="RequestData">
        <xsd:sequence>
          <xsd:element name="sysName" type="xsd:string"/>
          <xsd:element name="customerCode" type="xsd:string"/>
          <xsd:element name="customerName" type="xsd:string"/>
          <xsd:element name="fromSystem" type="xsd:string"/>
          <xsd:element name="omsRole" type="xsd:string"/>
          <xsd:element name="productCode" type="xsd:string"/>
          <xsd:element name="roleChannel" type="xsd:string"/>
          <xsd:element name="t10_num" type="xsd:double"/>
          <xsd:element name="t11_num" type="xsd:double"/>
          <xsd:element name="t12_num" type="xsd:double"/>
          <xsd:element name="t13_num" type="xsd:double"/>
          <xsd:element name="t3_num" type="xsd:double"/>
          <xsd:element name="t4_num" type="xsd:double"/>
          <xsd:element name="t5_num" type="xsd:double"/>
          <xsd:element name="t6_num" type="xsd:double"/>
          <xsd:element name="t7_num" type="xsd:double"/>
          <xsd:element name="t8_num" type="xsd:double"/>
          <xsd:element name="t9_num" type="xsd:double"/>
          <xsd:element name="tradeCode" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ResponseData">
        <xsd:sequence>
          <xsd:element name="reason" type="xsd:string"/>
          <xsd:element name="status" type="xsd:string"/>
          <xsd:element name="faultDetail" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </WL5G3N0:types>
  <WL5G3N0:message name="TransForecastInfoFromOMSRequest">
    <WL5G3N0:part element="WL5G3N1:TransForecastInfoFromOMS" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="TransForecastInfoFromOMSResponse">
    <WL5G3N0:part element="WL5G3N1:TransForecastInfoFromOMSResponse" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:portType name="TransForecastInfoFromOMS">
    <WL5G3N0:operation name="TransForecastInfoFromOMS">
      <WL5G3N0:input message="WL5G3N1:TransForecastInfoFromOMSRequest"/>
      <WL5G3N0:output message="WL5G3N1:TransForecastInfoFromOMSResponse"/>
    </WL5G3N0:operation>
  </WL5G3N0:portType>
  <WL5G3N0:binding name="TransForecastInfoFromOMSSOAP" type="WL5G3N1:TransForecastInfoFromOMS">
    <WL5G3N2:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <WL5G3N0:operation name="TransForecastInfoFromOMS">
      <WL5G3N2:operation soapAction="http://www.example.org/TransForecastInfoFromOMS/TransForecastInfoFromOMS"/>
      <WL5G3N0:input>
        <WL5G3N2:body use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N2:body use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
  </WL5G3N0:binding>
  <WL5G3N0:service name="TransForecastInfoFromOMS">
    <WL5G3N0:port binding="WL5G3N1:TransForecastInfoFromOMSSOAP" name="TransForecastInfoFromOMSSOAP">
      <WL5G3N2:address location="http://10.135.1.198:7001/EAI/RoutingProxyService/EAI_SOAP_ServiceRoot?INT_CODE=EAI_INT_1781"/>
    </WL5G3N0:port>
  </WL5G3N0:service>
</WL5G3N0:definitions>